.App {
  text-align: center;
  width: calc(100% / 2);
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  text-align: left;
}

#name,
#tel,
#filter {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
  height: 30px;
  min-width: 100px;
}

#filter {
  width: calc(100% / 2);
}

#name:focus,
#tel {
  outline-color: #1067f4;
}

#add-name {
  width: calc(100% / 4);
  min-width: 100px;
  max-width: 100px;
  height: 30px;
  display: block;
  margin-bottom: 10px;
}

#add-name:hover,
#add-name:focus {
  background-color: #1067f4;
  border: 1px solid #1067f4;
  border-radius: 2px;
  color: white;
}

#title-phonebook {
  text-align: left;
}

#title-name,
#title-tel,
#title-filter {
  text-align: center;
  margin: 0;
}

form {
  border: 1.5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

#contacts-title {
  text-align: left;
}
